<template name="login">
  <div id="login" class="ui segment">
    {{#if error}}
      <div class="ui small error message">
        {{error}}
      </div>
    {{/if}}
    <div class="ui login-password form">

      <div class="field">
        <label> 用户名 </label>
        <input type="text" id='username' placeholder="用户名">
      </div>
      <div class="field">
        <label> 密码 </label>
        <input type="password" id='password' placeholder="密码">
      </div>
      <div class="field">
        <button id="login-password" class="fluid primary push button"> 登录 </button>
      </div>
    </div>

    {{#if enabled.github}}
    <br>
    <button id="login-github" class="fluid github push button"> 通过GitHub登录 </button>
    {{/if}}

    {{#if enabled.facebook}}
    <br>
    <button id="login-facebook" class="fluid facebook push button"> 通过Facebook登录 </button>
    {{/if}}
  </div>
</template>
