<template name="announcer">
  <div class="ui announcer segment">
    <div class="ui form">
      <h4 class="ui header">
        创建一条公告
      </h4>
      <div class="field">
        <input id="a-header" type="text" name="header" placeholder="Header Text" required>
      </div>
      <div class="field">
        <textarea id="a-content" name="content" placeholder="Announcement content" required></textarea>
      </div>

      <div class="grouped inline fields">
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" value="default" name="type" checked="checked">
            <label>默认 (Default)</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" value="info" name="type">
            <label>信息 (Information)</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" value="warning" name="type">
            <label>警告 (Warning)</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" value="success" name="type">
            <label>成功 (Success)</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" value="error" name="type">
            <label>危险 (Danger)</label>
          </div>
        </div>
      </div>

      <div class="field">
        <button class="submit disabled ui blue button">
          发布
        </button>
      </div>
    </div>
  </div>
</template>
