<template name="ticketTable">
  <table class="ui striped table">
    <thead>
    <tr>
      <!--<th>_id</th>-->
      <!--<th>userId</th>-->
      <th>提交者</th>
      <th>主题</th>
      <th>桌号</th>
      <th>联系方式</th>
      <!--<th>Timestamp</th>-->
      <!--<th>Status</th>-->
      <!--<th>ClaimId</th>-->
      <th>导师</th>
      <!--<th>ClaimTime</th>-->
      <!--<th>CompleteTime</th>-->
      <th>评分</th>
      <th>留言</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {{#each tickets}}
      <tr class="{{rowClass}}">
        <!--<td>-->
          <!--<strong>-->
            <!--{{ _id }}-->
          <!--</strong>-->
        <!--</td>-->
        <!--<td>{{userId}}</td>-->
        <td><strong>{{name}}</strong></td>
        <td>{{topic}}</td>
        <td>{{location}}</td>
        <td>{{contact}}</td>
        <!-- <td>{{timestamp}}</td> -->
        <!--<td>{{status}}</td>-->
        <!--<td>{{claimId}}</td>-->
        <td><strong>{{claimName}}</strong></td>
        <!--<td>{{claimTime}}</td>-->
        <!--<td>{{completeTime}}</td>-->
        <td>{{rating}}</td>
        <td>{{comments}}</td>
        <td><i class="red delete link icon"></i></td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</template>
