<template name="userEdit">
  <div class="user-edit">
    <div class="ui form">
      <div class="field">
        <label>姓名</label>
        <input type="text" class="profile" name='name' value="{{profile.name}}" placeholder="您的名字" required>
      </div>
      <div class="field">
        <label>Email</label>
        <input type="email" class="profile" name='email' value="{{profile.email}}" placeholder="您的Email地址" required>
      </div>
      <div class="field">
        <label>手机</label>
        <input type="tel" class="profile" name='phone' value="{{profile.phone}}" placeholder="您的手机号" required>
      </div>
      <div class="field">
        <label>学校</label>
        <input type="text" class="profile" name='company' value="{{profile.company}}" placeholder="您所属的学校/组织">
      </div>
      <div class="field">
        <label>技能</label>
        {{#each skills}}
          <div class="ui label">
            {{skill}}
            <i class="delete skill icon" data-index="{{index}}"></i>
          </div>
        {{/each}}
        <div class="ui fluid action input">
          <input type="text" name="skills" placeholder="node.js, ruby, python, machine learning, etc...">
          <div class="ui blue button add-skill">添加技能</div>
        </div>
      </div>
      <div class="field">
        <div class="ui fluid green save button">保存简历</div>
      </div>

      {{#if success }}
        <div class="ui positive message">
          <div class="header">Saved Successfully!</div>
        </div>
      {{/if}}

      {{#if error }}
        <div class="ui negative message">
          <div class="header">Uh oh, something went wrong!</div>
        </div>
      {{/if}}

    </div>
  </div>
</template>
