<template name="nav">
  {{#if currentUser }}
    <div id="nav">
      <div class="ui secondary inverted menu">
        <a class="icon item" href="/">
          <i class="ui home icon"></i>
        </a>

        {{#if userIs 'admin'}}
          <a class="icon item" href="/admin">
            <i class="ui settings icon"></i>
          </a>
        {{/if}}

        <div class="right menu">
          {{> navMentor }}
          {{> navAccount }}
        </div>
      </div>
    </div>

    <div id="mobile-nav">
      {{#if userIs 'mentor'}}
        <div class="ui bottom fixed three item labeled icon menu">
          <a class="item" href="/">
            <i class="home icon"></i>
            主页
          </a>
          <a class="item" href="/mentor">
            <i class="inbox icon"></i>
            导师页面
          </a>
          <a class="item" href="/profile">
            <i class="child icon"></i>
            个人简历
          </a>
        </div>
      {{/if}}
    </div>
  {{/if}}
</template>

<template name="navMentor">
  {{#if userIs 'mentor'}}
    <a class="icon item" href="/mentor">
      <i class="ui inbox icon"></i>
      {{#if openTickets}}
        <div class="ui tiny floating notification red label">
          {{ openTickets }}
        </div>
      {{/if}}
    </a>
  {{/if}}
</template>

<template name="navAccount">

  <div class="ui dropdown item">
    {{profile}}<i class="dropdown icon"></i>
    <div class="menu">
      <a class="item" href="/profile">个人简历</a>
      <a class="item" id="logout">登出</a>
    </div>
  </div>

</template>
