<template name="userStats">
  <div class="userStats">
    <div class="ui top attached tertiary header segment">
      <strong>
        用户概况
      </strong>
    </div>
    <div class="ui bottom attached segment">

      <div>
        用户数量：
        <strong>
        {{ users.length }}
        </strong>
      </div>
      <div>
        导师数量：
        <strong>
          {{ mentors.length }}
        </strong>
      </div>
      <div>
        请求数量：
        <strong>
          {{ ticketCount }}
        </strong>
      </div>

      <br>

      <p>
        在 <strong>{{users.length}}</strong> 位用户中，
        <strong>{{activeUsers}}</strong> 位曾提交过帮助请求
      </p>

      <p>
        在 <strong>{{mentors.length}}</strong> 位导师中，
        <strong>{{activeMentors}}</strong> 位曾完成过帮助请求
      </p>

      <h4 class="ui dividing header">主题高频词</h4>

      <div class="ui labels">
        {{#each wordFreqs}}
          <div class="ui label">
            {{word}} {{count}}
          </div>
        {{/each}}
      </div>


    </div>
  </div>
</template>
