<template name="admin">
  <div id="admin">
    <div class="sixteen column centered stackable ui grid">
      <div class="three wide column">
        <div class="ui vertical pointing fluid admin menu">
          <a class="{{isActive 'announce'}} item" data-goto="announce">
            <i class="announcement icon"></i> 发布公告
          </a>
          <a class="{{isActive 'users'}} item" data-goto="users">
            <i class="user icon"></i> 用户列表
          </a>
          <a class="{{isActive 'userCreation'}} item" data-goto="userCreation">
            <i class="add user icon"></i> 新建用户
          </a>
          <a class="{{isActive 'tickets'}} item" data-goto="tickets">
            <i class="help icon"></i> 请求列表
          </a>
          <a class="{{isActive 'metrics'}} item" data-goto="metrics">
            <i class="bar chart icon"></i> 统计
          </a>
          <a class="{{isActive 'feedback'}} item" data-goto="feedback">
            <i class="bar empty star icon"></i> 选手反馈
          </a>
          <a class="{{isActive 'settings'}} item" data-goto="settings">
            <i class="settings icon"></i> 设置
          </a>
        </div>
      </div>

      <div class="thirteen wide column">
        {{#if pageIs 'announce'}}
          {{> announcer }}
          {{> announcementsTable}}
        {{/if}}

        {{#if pageIs 'users'}}
          {{> userTable }}
        {{/if}}

        {{#if pageIs 'userCreation'}}
          {{> userCreation}}
        {{/if}}

        {{#if pageIs 'tickets'}}
          {{> ticketTable }}
        {{/if}}

        {{#if pageIs 'metrics'}}
          {{> metrics}}
        {{/if}}

        {{#if pageIs 'feedback'}}
          {{> feedback}}
        {{/if}}

        {{#if pageIs 'settings'}}
          {{> settings}}
        {{/if}}
      </div>
    </div>

  </div>
</template>
