<template name="userTable">
  <div class="ui form">
    <div class="fields">
      <div class="thirteen wide field">
        <div class="ui left icon fluid input">
          <i class="search icon"></i>
          <input type="text" class="searchText" placeholder="Search..." value="{{searchText}}">
        </div>
      </div>
      <div class="three wide field">
        <div class="ui right aligned pointing top right dropdown labeled icon fluid button">
          <i class="filter icon"></i>
          <span class="text">筛选用户</span>
          <div class="menu">
            <div class="header">
              <i class="tags icon"></i>
              按照权限筛选
            </div>
            <div class="filter item" data-filter="all">
              <div class="ui empty circular label"></div>
              全部用户
            </div>
            <div class="filter item" data-filter="mentor">
              <div class="ui blue empty circular label"></div>
              导师
            </div>
            <div class="filter item" data-filter="admin">
              <div class="ui yellow empty circular label"></div>
              管理员
            </div>
            <div class="filter item" data-filter="student">
              <div class="ui black empty circular label"></div>
              参赛者
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <table class="ui striped table userTable">
    <thead>
    <tr>
      <th>用户名</th>
      <th>姓名</th>
      <th>Email</th>
      <th>手机号</th>
      <th>技能</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {{#each users}}
      <tr>
        <td>
          {{ username }}
        </td>
        <td>
          <strong>
            {{#if profile.name }}
              {{ profile.name }}
            {{else}}
              {{ services.github.username }}
            {{/if}}
          </strong>
        </td>
        <td>
          {{#if profile.email }}
            {{ profile.email }}
          {{else}}
            {{ services.github.email }}
          {{/if}}
        </td>

        <td>
          {{ profile.phone }}
        </td>

        <td>
          {{#each profile.skills }}
            <span class="ui label">
              {{this}}
            </span>
          {{/each}}
        </td>

        <td class="right aligned collapsing">
          {{#if profile.mentor}}
            <span class="ui tiny blue button toggle-mentor">
            导师
          </span>
          {{else}}
            <span class="ui tiny basic button toggle-mentor">
            导师
          </span>
          {{/if}}

          {{#if profile.admin}}
            <span class="ui tiny blue button toggle-admin">
            管理员
          </span>
          {{else}}
            <span class="ui tiny basic button toggle-admin">
            管理员
          </span>
          {{/if}}

          <span class="ui tiny button edit-user">
            编辑
          </span>
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>

  <div class="ui edit-user small modal">
    <i class="close icon"></i>
    <div class="header">
      编辑用户
    </div>
    <div class="content">
    </div>
  </div>

</template>
