<template name="ticketStats">
  <div class="ui blue segment">
    {{#with claimTimes}}
      <div>
        平均响应（认领）时间：
        <h2>
          {{meanTime}}
        </h2>
        <div>
          中位数：<strong>{{medianTime}}</strong>，标准差：<strong>{{stdDevTime}}</strong>
        </div>
      </div>
    {{/with}}

    <div class="ui divider"></div>

    {{#with completeTimes}}
      <div>
          平均完成时间：
        <h2>
          {{meanTime}}
        </h2>
        <div>
          中位数：<strong>{{medianTime}}</strong>，标准差： <strong>{{stdDevTime}}</strong>
        </div>
      </div>
    {{/with}}

    <div class="ui divider"></div>

    {{#with ratings}}
      <div>
        平均选手评分：
        <h2>
          {{mean}}
          <i class="yellow star icon"></i>
        </h2>

      </div>
    {{/with}}
  </div>
</template>
